/* UBoatMC Operator Web Interface - Square384 */

div#WM_Square{
background-color: #333333;
display: inline-block;
margin: 0px;
padding: 2px 0px 2px 0px;
color: #E3E3E3;
text-align: center;
}


/* Portrait Standard Display */
@media only screen
  and (min-width : 530px){

	div#WM_BtnL,
	div#WM_BtnR {
	float: left;
	height:384px;
	width:48px;
	background-color: #333333;
	display: inline-block;
	text-align: center;
	}
	div#WM_BtnL {
	margin: 0px 2px 0px 2px;
	padding: 2px;
	}
	div#WM_BtnR {
	margin: 0px 2px 0px 2px;
	padding: 2px;
	}  
	
	div#WM_OpCmd{
	float: left;
	background-color: #333333;
	margin: 0px;
	padding: 2px;
	text-align: left;
	overflow: auto;
	}  

	div#WM_BtnT {
	float: left;
	height:48px;
	width:384px;
	background-color: #333333;
	display: inline-block;
	margin: 0px auto;
	padding: 4px 2px 0px 2px;
		text-align: center;
		font-family:"Arial", Arial, Sans-serif;
		font-weight:bold;
		font-size: 12px;
		color: #E3E3E3;
	}
	div#WM_BtnB {
	float: left;
	height:48px;
	width:384px;
	background-color: #333333;
	display: block;
	margin: 0px auto;
	padding: 4px 2px 0px 2px;
		text-align: center;
		font-family:"Arial", Arial, Sans-serif;
		font-weight:bold;
		font-size: 12px;
		color: #E3E3E3;
	}	
		
	div#WM_CrnTL,
	div#WM_CrnTR,
	div#WM_CrnBL,
	div#WM_CrnBR {
	float: left;
	padding: 2px 2px 2px 2px;
	background-color: #333333;
	display: inline-block;
	text-align: center;
	}
	
	span.WM_TextLR {
		display: block;
		margin: 160px auto;
		font-family:"Arial", Arial, Sans-serif;
		font-weight:bold;
		font-size: 18px;
		color: #E3E3E3;
		text-decoration: none;
	    	-webkit-transform: rotate(90deg); 
	    	-moz-transform: rotate(90deg);
	}

} 

/* Portrait Narrow Display */
@media only screen
  and (max-width : 529px){
  
	div#WM_BtnL,
	div#WM_BtnR {
	display: block;
	height:48px;
	background-color: #333333;
	text-align: center;
	}
	div#WM_BtnL {
	margin: 0px 2px 0px 2px;
	padding: 2px;
	}
	div#WM_BtnR {
	margin: 0px 2px 0px 2px;
	padding: 2px;
	}   
	
	div#WM_OpCmd{
	display: inline-block;
	background-color: #333333;
	margin: 10px auto;
	padding: 2px;
	text-align: left;
	overflow: auto;
	}  

	div#WM_BtnT,
	div#WM_BtnB{
	height:48px;
	width:384px;
	background-color: #333333;
	display: inline-block;
	margin: 0px auto;
	padding: 4px 2px 0px 2px;
		text-align: center;
		font-family:"Arial", Arial, Sans-serif;
		font-weight:bold;
		font-size: 10px;
		color: #E3E3E3;
	}
		
	div#WM_CrnTL,
	div#WM_CrnTR,
	div#WM_CrnBL,
	div#WM_CrnBR {
	padding: 2px 2px 2px 2px;
	background-color: #333333;
	display: inline-block;
	text-align: center;
	}
	
	
	span.WM_TextLR {
		display: block;
		margin: 10px auto;
		font-family:"Arial", Arial, Sans-serif;
		font-weight:bold;
		font-size: 18px;
		color: #E3E3E3;
		text-decoration: none;

	}
  
} 


div#WM_FrmT {
float: left;
clear: both;
margin: 0px 0px 0px 1px;
padding: 1px;
text-align: center;
overflow: auto;
}
div#WM_FrmC {
clear: both;
display: block;
margin: 0px ;
padding: 1px;
text-align: center;
overflow: auto;
}
div#WM_FrmB {
clear: both;
display: block;
margin: 0px 0px 0px 1px;
padding: 1px;
text-align: center;
overflow: auto;
}

div#WM_CrnTL {
margin: 0px 2px 0px 1px;
}
div#WM_CrnTR {
margin: 0px 1px 0px 2px;
}
div#WM_CrnBL {
margin: 0px 2px 0px 1px;
}
div#WM_CrnBR {
margin: 0px 2px 0px 2px;
}
div#WM_CrnTL img,
div#WM_CrnTR img,
div#WM_CrnBL img,
div#WM_CrnBR img {
display: block;
padding: 0px;
margin: 0px;
}
div#WM_CrnTL:hover,
div#WM_CrnTR:hover,
div#WM_CrnBL:hover,
div#WM_CrnBR:hover {
    	//-webkit-box-shadow: 3px 3px 5px 6px #ccc;
	box-shadow: inset 0px 0px 10px #F5F515;
}

/* Edge Box */
div.WM_Box01,
div.WM_Box02,
div.WM_Box03 {
	background-color: #333333;
	display: inline-block;
	padding: 3px 3px 3px 3px;
	border-style: solid;
	border-width: 1px;
	border-color: #495154;
	min-height: 30px;
	width: 90%;
	font-family:"Arial", Arial, Sans-serif;
	font-weight:bold;
	font-size: 80%;
	color: #E3E3E3;
	text-align: center;
}
div.WM_Box01 {
	float: left;
	width:30%;
	margin: 0px;
}
div.WM_Box02 {
	display: inline-block;
	width:30%;
	margin: 0px auto;
}
div.WM_Box03 {
	float: right;
	width:30%;
	margin: 0px;
}



/* Op.Cmd */

ul#WM_Nav01,
ul#WM_Nav02 {
    float: left;
    display: block;
    margin: 0px;
    padding: 0px;
    width: auto;
    height: auto;
}

ul#WM_Nav01 a,
ul#WM_Nav02 a {
    cursor: pointer;
    float: left;
    padding: 0px;
    text-decoration: none;
}


/* Landscape*/
/* Desktops and Laptops */
@media only screen
  and (min-width : 800px) {

ul#WM_Nav01 li,
ul#WM_Nav02 li {
    background-color: #333333;
    display: block;
    height: 48px;
    line-height: 48px;
    overflow: hidden;
}
ul#WM_Nav01 li {
    width: 48px;
}
ul#WM_Nav02 li {
    width: 96px;
}

ul#WM_Nav01 a,
ul#WM_Nav02 a {
    line-height: 0px;
    margin-top: 96px;
}

/* Landscape List (4x96) */
ul#WM_Nav01 li.WM_Btn01:hover,
ul#WM_Nav02 li.WM_Btn01:hover {
    transition-delay:1s;
    background-color: #444444;
    height: 96px;
    width: 192px;
}
/* Landscape List (9x96) */
ul#WM_Nav01 li.WM_Btn09:hover {
    transition-delay:1s;
    background-color: #444444;
    height: 96px;
    width: 432px;
}

ul#WM_Nav02 li.WM_Btn01 img,
ul#WM_Nav02 li.WM_Btn02 img  {
    /* background-color: #3B6D88; */
}

ul#WM_Nav02 li.WM_Btn02:hover {
    transition-delay:1s;
    background-color: #444444;
    height: 144px;
    width: 336px;
}
ul#WM_Nav02 li.WM_Btn09:hover {
    transition-delay:1s;
    background-color: #444444;
    height: 144px;
    width: 432px;
}

ul#WM_Nav01 li:hover a,
ul#WM_Nav02 li:hover a {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

span.WM_Title {
	display: inline-block;
	font-family:"Arial", Arial, Sans-serif;
	font-weight:bold;
	font-size: 16px;
	color: #E3E3E3;

	padding: 0px 0px 0px 96px;
	vertical-align:text-top;
}
div#WM_Val00 {
	display: block;
	margin: 0px 0px 0px 0px;
	padding: 24px 2px 24px 2px;
	vertical-align:middle;
}
div#WM_Val01 {
	display: block;
	margin: 0px 0px 0px 8px;
	padding: 24px 2px 24px 2px;
	vertical-align:middle;
}
div#WM_Val10 {
	display: block;
	margin: 0px 0px 0px 0px;
	padding: 24px 2px 24px 2px;
	vertical-align:middle;
}
div#WM_Val11 {
	display: block;
	margin: 0px 0px 0px 8px;
	padding: 24px 2px 24px 2px;
	vertical-align:middle;
}

}
/* */


/* Portrait */
@media only screen
  and (max-width : 799px){

ul#WM_Nav01 li,
ul#WM_Nav02 li {
    background-color: #333333;
    display: block;
    height: 48px;
    line-height: 48px;
    overflow: hidden;
}
ul#WM_Nav01 li {
    width: 48px;
}
ul#WM_Nav02 li {
    width: 96px;
}

ul#WM_Nav01 a,
ul#WM_Nav02 a {
    line-height: 0px;
    margin-top: 720px;
}

/* Portrait List (5x48) */
ul#WM_Nav01 li.WM_Btn01:hover {
    clear: both;
    transition-delay: 1s;
    background-color: #444444;
    height: 240px; 
    width: 48px;
}
/* Portrait List (9x48) */
ul#WM_Nav01 li.WM_Btn09:hover {
    clear: both;
    transition-delay: 1s;
    background-color: #444444;
    height: 432px; 
    width: 48px;
}
/* Portrait List (5x96) */
ul#WM_Nav02 li.WM_Btn01:hover {
    clear: both;
    transition-delay: 1s;
    background-color: #444444;
    height: 240px; 
    width: 96px;
}
/* Portrait List (9x96) */
ul#WM_Nav02 li.WM_Btn09:hover {
    clear: both;
    transition-delay: 1s;
    background-color: #444444;
    height: 432px; 
    width: 96px;
}

ul#WM_Nav02 li.WM_Btn01 img,
ul#WM_Nav02 li.WM_Btn11 img,
ul#WM_Nav02 li.WM_Btn02 img  {
    /* background-color: #3B6D88; */
}

ul#WM_Nav02 li.WM_Btn02:hover {
    transition-delay:1s;
    background-color: #444444;
    height: 720px;
    width: 96px;
}

ul#WM_Nav01 li:hover a,
ul#WM_Nav02 li:hover a {
    margin: 0px 0px 0px 0px;
    padding: 0px 48px 0px 0px;
}

span.WM_Title {
	display: inline-block;
	hight: 48px;
	width: 0px;
	float: right;
	
	font-family:"Arial", Arial, Sans-serif;
	font-weight:bold;
	font-size: 16px;
	color: #E3E3E3;

	margin: 0px 12px 0px 0px;
    	-webkit-transform: rotate(90deg); 
    	-moz-transform: rotate(90deg);
}
div#WM_Val00,
div#WM_Val01 {
	display: block;
	margin: 0px 0px 0px 0px;
	padding: 24px 2px 24px 2px;
	vertical-align:middle;
}
div#WM_Val10,
div#WM_Val11 {
	display: block;
	margin: 0px 0px 0px 0px;
	padding: 24px 2px 24px 2px;
	vertical-align:middle;
}

}
/* */


ul#WM_Nav01 a:hover,
ul#WM_Nav02 a:hover {
    text-decoration: none;
}
ul#WM_Nav01 li a:first-child,
ul#WM_Nav02 li a:first-child {
    display: block;
    float: none;
    line-height: 0px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
ul#WM_Nav01 li:hover a:first-child,
ul#WM_Nav02 li:hover a:first-child {
    line-height: 0px;
    text-decoration: none;
}

ul#WM_Nav01 .WM_Btn01 img:hover {
	box-shadow: inset 0px 0px 10px #F5F515;
}
ul#WM_Nav02 .WM_Btn01 img:hover,
ul#WM_Nav02 .WM_Btn02 img:hover {
	box-shadow: inset 0px 0px 10px #F5F515;
}
div#WM_Val01:hover,
div#WM_Val11:hover {
	/* box-shadow: inset 0px 0px 5px #F5F515; */
	background-color: #333333;
}

/* OpCmd Execution */
.WM_Btn11 img {
	box-shadow: inset 0px 0px 10px #15F515;
}

div#WM_Val00,
div#WM_Val01,
div#WM_Val10,
div#WM_Val11 {
	display: block;
        text-decoration: none;
	font-family:"Arial", Arial, Sans-serif;
	font-weight:bold;
	font-size: 12px;
	color: #E3E3E3;
}
div#WM_Val00 {
	width: 40px;
        text-align: center;
}
div#WM_Val01 {
	width: 40px;
        text-align: center;
}
div#WM_Val10 {
	width: 88px;
        text-align: center;
}
div#WM_Val11 {
	width: 88px;
        text-align: center;
}

div#WM_Dsc00 {
	display: block;
	padding: 4px 0px 0px 2px;
        text-decoration: none;
	font-family:"Arial", Arial, Sans-serif;
	font-size: 8px;
	color: #E3E3E3;
}