/* Stylesheet System Style2 */
/* Graphics Variation */
/* Border: #495154 */


body{
   	background: #495154;
}

/* Border Top */
div#WM_BrdTop {
	background-color: #3B6D88;
	box-shadow: 0px 0px 20px #000000;
}
div#WM_BrdTop:hover {
	box-shadow: 0px 0px 30px #000000;
}

/* Border Bottom */
div#WM_BrdBot {
	background-color: #3B6D88;
	box-shadow: 0px 0px 20px #000000;

}
div#WM_BrdBot:hover {
	box-shadow: 0px 0px 30px #000000;
}

/* Container */
div#Container{
	background-color: #3B6D88;
	box-shadow: 0px 0px 20px #000000;
	margin: 0px auto;
}

/* Admin */
div#WM_Admin{
	background-color: #3B6D88;
	box-shadow: 0px 0px 20px #000000;
	margin: 0px auto;
}

/* Login */
div#WM_Login {
	background-color: #3B6D88;
	box-shadow: 0px 0px 20px #000000;
	margin: 0px auto;
}

/* Alerts */
div#WM_Alerts {
	background-color: #3B6D88;
	box-shadow: 0px 0px 20px #000000;
	margin: 0px auto;
}


