/* Stylesheet System Fonts3 */
/* Fonts Style */

@font-face {
  	font-family: 'Font03';
  	src: url('fonts/UbuntuMono-B.ttf') format('truetype');
}

body{
	font-family: 'Font03', sans-serif;
}

div#Container{
	font-family: 'Font03', sans-serif;
}
div#WM_Admin{
	font-family: 'Font03', sans-serif;
}
div#WM_Login{
	font-family: 'Font03', sans-serif;
}
div#WM_Alerts{
	font-family: 'Font03', sans-serif;
}