/* Stylesheet System Fonts1 */
/* Fonts Style */

@font-face {
  	font-family: 'Font01';
  	src: url('fonts/Cuprum-Regular.ttf') format('truetype');
}

body{
	font-family: 'Font01', sans-serif;
}

div#Container{
	font-family: 'Font01', sans-serif;
}
div#WM_Admin{
	font-family: 'Font01', sans-serif;
}
div#WM_Login{
	font-family: 'Font01', sans-serif;
}
div#WM_Alerts{
	font-family: 'Font01', sans-serif;
}