/* Stylesheet Module */

div.WM_Copyright{
	padding: 10px 0px 10px 0px;
	font: 70.00%  “Trebuchet MS”, Helvetica, sans-serif;
}

/* Box Module */
/* Desktops and Laptops */
@media only screen 
  and (min-width : 700px) {
	div.WM_BrdAdd {
		background-color: #333333;
		display: inline-block;
		margin: 5px 0px 5px 0px;
		padding: 3px 3px 3px 3px;
		border-style: solid;
		border-width: 1px;
		border-color: #495154;
		min-height: 30px;
		width: 97%;
		font-family:"Arial", Arial, Sans-serif;
		font-weight:bold;
		font-size: 70%;
		color: #E3E3E3;
		text-align: center;
	}
	div.WM_BrdMdL {
		background-color: #333333;
	  	float: left;
		margin: 0px 0px 0px 10px;
		padding: 1px;
		border-style: solid;
		border-width: 1px;
		border-color: #495154;
		min-height: 55px;
	  	width: 31%;
		font-family:"Arial", Arial, Sans-serif;
		font-weight:bold;
		font-size: 70%;
		color: #E3E3E3;
		text-align: left;
	}
	div.WM_BrdMdC {
		background-color: #333333;
		display: inline-block;
		margin: 0px 0px 0px 0px;
		padding: 1px;
		border-style: solid;
		border-width: 1px;
		border-color: #495154;
		min-height: 55px;
	  	width: 31%;
		font-family:"Arial", Arial, Sans-serif;
		font-weight:bold;
		font-size: 70%;
		color: #E3E3E3;
		text-align: left;
	}
	div.WM_BrdMdR {
		background-color: #333333;
	  	float: right;
		margin: 0px 10px 0px 0px;
		padding: 1px;
		border-style: solid;
		border-width: 1px;
		border-color: #495154;
		min-height: 55px;
	  	width: 31%;
		font-family:"Arial", Arial, Sans-serif;
		font-weight:bold;
		font-size: 70%;
		color: #E3E3E3;
		text-align: left;
	}
	div#WM_BChtsCmpHr,
	div#WM_BChtsCmpPR,
	div#WM_BChtsTmp,
	div#WM_BChtsHmd,
	div#WM_BChtsHdw,
	div#WM_BChtsDth, 
	div#WM_BChtsSpd {
		width: 97%;
		background-color: #333333;;
		margin: 3px auto;
		padding: 0px 0px 0px 0px;
		text-align: center;
		color: #373737;
		overflow: auto;
	}
	div#WM_BChtsCmpHr,
	div#WM_BChtsCmpPR {
		min-height: 80px;
	}
	div#WM_BChtsTmp,
	div#WM_BChtsHmd,
	div#WM_BChtsHdw {
		min-height: 140px;
	}
	div#WM_BChtsDth,
	div#WM_BChtsSpd {
		min-height: 60px;
	}
	/* Module Box */
	div.WM_LngSel {
		float: left;
		padding: 3px;
		overflow:auto;
	}
	div.WM_Cpyrgt {
		float: left;
		padding: 3px;
		overflow:auto;
	}
	div.WM_GPSCmp,
	div.WM_SysMsg,
	div.WM_DthSpd,
	div.WM_DteTme,
	div.WM_TmpHmd,
	div.WM_HdwSts,
	div.WM_RadCll {
		display: inline-block;
		float: left;
		margin: 3px 3px 3px 3px;
		padding: 3px;
		color: #E3E3E3;
	}

}
/* Pad and Netbook */
@media only screen 
  and (max-width : 699px){
	div.WM_BrdAdd {
		background-color: #333333;
		display: inline-block;
		margin: 5px 0px 5px 0px;
		padding: 3px 3px 3px 3px;
		border-style: solid;
		border-width: 1px;
		border-color: #495154;
		min-height: 30px;
		width: 90%;
		font-family:"Arial", Arial, Sans-serif;
		font-weight:bold;
		font-size: 10px;
		color: #E3E3E3;
		text-align: center;
	}
	div.WM_BrdMdL,
	   .WM_BrdMdC,
	   .WM_BrdMdR {
		background-color: #333333;
	  	display: inline-block;
		margin: 5px 0px 5px 0px;
		padding: 3px 3px 3px 3px;
		border-style: solid;
		border-width: 1px;
		border-color: #495154;
		min-height: 55px;
	  	width: 90%;
		font-family:"Arial", Arial, Sans-serif;
		font-weight:bold;
		font-size: 70%;
		color: #E3E3E3;
		text-align: left;
	}

	div#WM_BChtsCmpHr,
	div#WM_BChtsCmpPR,
	div#WM_BChtsTmp,
	div#WM_BChtsHmd,
	div#WM_BChtsHdw,
	div#WM_BChtsDth, 
	div#WM_BChtsSpd  {
		width: 92%;
		background-color: #333333;;
		margin: 3px auto;
		padding: 0px 0px 0px 0px;
		text-align: center;
		color: #373737;
		overflow: auto;
	}
	div#WM_BChtsCmpHr,
	div#WM_BChtsCmpPR {
		min-height: 80px;
	}
	div#WM_BChtsTmp,
	div#WM_BChtsHmd,
	div#WM_BChtsHdw {
		min-height: 120px;
	}
	div#WM_BChtsDth,
	div#WM_BChtsSpd {
		min-height: 60px;
	}		
	/* Module Box */
	div.WM_LngSel {
		clear: both;
		padding: 1px;
		overflow:auto;
		margin-left: auto;
		margin-right: auto;
		width: 43px;
	}
	div.WM_Cpyrgt {
		clear: both;
		padding: 1px;
		overflow:auto;
		margin-left: auto;
		margin-right: auto;
		width: 129px;
	}
	/**/
	div.WM_GPSCmp,
	div.WM_SysMsg,
	div.WM_DthSpd,
	div.WM_DteTme,
	div.WM_TmpHmd,
	div.WM_HdwSts,
	div.WM_RadCll {
		display: inline-block;
		clear: both;
		margin: 9px 3px 3px 3px;
		padding: 3px;
		color: #E3E3E3;
	}
	
}

div.canvasjs-chart-container {
		clear: both;

	}
	
	